.container #hello {
    color: green;
}

.container {
    color: blue;
}

#hello {
    color: red;
}

p {
    color: yellow;
    border: medium solid;
}

b {
    color: green;
}

p > b {
    color: inherit;
}

fieldset {
    display: inline;
}

ul li {
    display: inline;
    box-sizing: border-box;
    background-color: #EEE;
    border: 1px solid;
}